<div class="container">
	<h3>Account: $<%= accounts[0].amount %></h3>
	<table class='table'>
		<tr>
			<th>Bet</th>
			<th>Amount</th>
		</tr>

		<% _.each(accounts, function(account) { %>
		<tr data-id="<%= account.id %>" data-model="account">
			<td><%= account.betId == null ? "Account Created" : account.betId %></td>
			<td><%= account.amount %></td>
		</tr>

		<% }) %>
	</table>
</div>