<div class="col-xs-offset-2 col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
  <form action="/user/updatepass/<%= user.id %>" method="POST" class="fs-form">
    <input type="password" class="form-control" placeholder="Password" name="password">
    <input type="password" class="form-control" placeholder="Re-type Password" name="confirmation">
    <br/>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="UPDATE PASSWORD"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>
</div>
