<% if (potentialBets != null) { %>
	<div id="bet-slip" class="panel panel-default potential-bet-panel">
		<div class="panel-heading">
			<h3 class="panel-title">
				Bet Slip
			</h3>
		</div>
		<div class="panel-body">
			<span class="no-games-info-message" 
				<% if (potentialBets.length > 0) { %>
				hidden="true" 
				<% } %>
				>Add games to your bet slip
			</span>
			<ul class="list-group potential-bet-list">
			<% _.each(potentialBets, function(bet) { %>
		    	<%- include ../../assets/templates/potentialBetTemplate.ejs %>		
			<% }) %>
			</ul>
			<ul class="list-group ul-total-tally"
				<% if (potentialBets.length == 0) { %>
				hidden="true" 
				<% } %>
			>
			<div id="betting-errors" class="alert alert-danger" role="alert" 
				<% if (!flash || !flash.err) { %>
					hidden="true" 
				<% } %>
			>
				<% if (flash && flash.err) { %>
				<% Object.keys(flash.err).forEach(function(error) { %>
					<span class="sr-only">Error:</span><div class="validation-error"><%= flash.err[error] %></div>
				<% }) %>
				<% } %>
  			</div>
			<li class="list-group-item total-tally">
					<div class="num-bets-selected">
					<span id="num-bets"><%= potentialBets.length %></span> BETS SELECTED
					</div>
					<div class="total-tally-risk">
					Total Risk: $<span id="bets-total-amount"><%= totalAmount %></span>
					</div>
				  	<button id="review-bets" class="btn btn-primary btn-default center-block" type="button">
				    Review Bets
				  	</button>
				</li>
			</ul>
		</div>
	</div>
<% } %>