@white: #FFFFFF;
@green: #9EC03B;
@orange: #F48744;
@blue: #189ECA;
@gray: #777574;
@lightGray: #ececec;
@black: #1C1C1C;
@darkBlue: #106E8D;
@darkGray: #4A4A4A;
@red: #D16565;

body {
	padding-top: 60px;
	padding-bottom: 60px;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.jumbotron {
	text-align: center;
}

.jumbotron h2 {
	font-size: 1.5em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: gray;
}

.container .gray {
	color: gray;
}

.container {
	.footer {
		width: 25%;
	}
}

.form-signin {
	max-width: 30%;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	margin-top: 20px;
	background-color: @lightGray;
	border: 1px solid @green;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	h2 {
		text-align: center;
		margin-top: 0px;
	}
}

.navbar-inverse {
  background-color: @lightGray;
  border-color: @lightGray;
  .navbar-toggle {
    border-color: @gray;
    .icon-bar {
      background-color: @gray;
    }
  }
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}

.navbar-toggle {
  z-index:3;
}

.navbar-right {
	li {
		float: left;
	    padding-top: 5px;
	    padding-right: 15px;
	    a {
	    	color: @gray;
	    }
	    a:hover {
	    	color: #fff;
    		background-color: transparent;
	    }
	}
}

.panel {
  border-radius: 0px;
}

.panel-heading {
  border-bottom: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-default > .panel-body {
  background-color: @lightGray;
}

.panel-default > .panel-heading {
  background-color: @lightGray;
}

.media-body ol li {
	margin-top: 10px;
	margin-bottom: 5px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.potential-bet-panel {
	margin-top: 20px;
	.panel-body {
		padding: 10px;
	}
}

.team-name {
  text-align: right;
  padding-top: 5px;
}

.game-time {
  padding-top: 5px;
  padding-bottom: 5px;
}

.game-row {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid @gray;
}

.team-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.bet-amount-container {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 30%;
}

.bet-amount-container {
  text-align: right;
}

.bet-amount-addon {
  background-color: @white;
}

.potential-bet {
  background-color: @lightGray;
  border-radius: 0px;
  border-bottom: 0px;
  border-top: 1px solid;
  border-left: 0px;
  border-right: 0px;
}

.total-tally {
  background-color: @lightGray;
  border: 0px;
}

.bet-slip-title {
  padding-top: 10px;
}

.list-group-item:first-child {
  border-top: 0px;
}

#close {
    display:block;
    float:right;
    width:30px;
    height:29px;
    background:url(http://digitalsbykobke.com/images/close.png) no-repeat center center;
}

.close {
  font-weight: normal;
  opacity: .5;
}

.validation-error {
	padding: 10px 2px;
}

.standings td form {
	display: inherit;
}

.user-record {
	float: right;
	padding-right: 5px;
	padding-bottom: 10px;
}

.user-stats {
	padding-bottom: 20px;
}

