<div class="container">
<% if (potentialBets != null) { %>
	<div class="panel panel-default potential-bet-panel">
		<div class="panel-heading">
			<h3 class="panel-title">
				Bet Confirmation
			</h3>
		</div>
		<% if(flash && flash.err) { %>
            <ul class="alert alert-success">
        	<% Object.keys(flash.err).forEach(function(error) { %>
            	<li><%- JSON.stringify(flash.err[error]) %></li>
        	<% }) %>
        	</ul>
        <% } %>
		<div class="panel-body">
			<ul class="list-group potential-bet-list">
			<% _.each(potentialBets, function(bet) { %>
		    	<%- include ../../assets/templates/potentialBetTemplate.ejs %>		
			<% }) %>
			</ul>
			<ul class="list-group ul-total-tally"
				<li class="list-group-item total-tally">
					<div class="num-bets-selected">
					<span id="num-bets"><%= potentialBets.length %></span> BETS
					</div>
					<div class="total-tally-risk">
					Total Risk: $<span id="bets-total-amount"><%= totalAmount %></span>
					</div>
				  	<button id="confirm-bets" class="btn btn-default center-block" type="button">
				    Confirm
				  	</button>
				</li>
			</ul>
		</div>
	</div>
<% } %>
</div>