<div class="container">
	<div class="jumbotron">
		<h1>Fake Stacks</h1>

		<h2>Getting your gambling fix while continuing to put food on your family</h2>
		<a href="/bettable" class="btn btn-outline btn-lg">Start Betting</a>
	</div>
</div>