<div class="league-header">
  <div class="container">
    <div class="league-header-label">The League:</div>
    <div class="league-header-league-name"><%= session.User.league.name.toUpperCase() %></div></div>
</div>
<div class="navbar-container home-page">
  <% if (!session.authenticated || !session.User.league) { %>
  <a href="/league/new" class="btn btn-outline btn-lg">Create League</a>
  <% } else { %>
    <div class="col-xs-12 col-sm-4 col-md-4 home-page-panel">
      <%- include rules.ejs %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 home-page-panel">
      <%- include mini-standings.ejs %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 home-page-panel">
      <%- include mini-bets.ejs %>
    </div>
  <% } %>
</div>
