<li class="list-group-item total-tally">
	<div class="num-bets-selected">
	X BETS SELECTED
	</div>
	<div class="total-tally-risk">
	Total Risk: $0.00
	</div>
  	<button id="review-bets" class="btn btn-default center-block" type="button">
    Review Bets
  	</button>
</li>